- if current_user
  %nav.actions
    = link_to "edit", edit_slug_path(page.slug)
    |
    = link_to "delete", delete_slug_path(page.slug), method: :delete
#page_body
  .title
    %h1= page.name
  #navigation
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Galleries", galleries_path
      -pages.each do |page|
        %li= link_to page.name, slug_path(page.slug)
      %li= link_to "News", posts_path

  %article
    :markdown
      #{page.body}
