- if current_user
  %nav.actions
    = link_to "edit", edit_slug_path(page.slug)
    |
    = link_to "delete", slug_path(page.slug), method: :destroy
#page_body
  .title
    %h1= page.name
  #navigation
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Galleries", galleries_path
      %li= link_to "About", slug_path("about")
      %li= link_to "Resume", slug_path("resume")
      %li= link_to "Contact", contact_path
      %li= link_to "News", posts_path

  %article
    :markdown
      #{page.body}
