%h1= "Editing #{owner.name} :: #{image.title}"

= form_for image, :url => {:action => "update"} do |f|

  - if image.errors.any?
    .errors
      %h2 Form invalid
      %ul
        - image.errors.full_message.each do |message|
          %li= message

  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :category
    %br
    = f.text_field :category

  .field
    = f.label :medium
    %br
    = f.text_field :medium

  .field
    = f.label :dimensions
    %br
    = f.text_field :dimensions

  .field
    = f.file_field :picture

  .field
    = f.label :gallery_id
    %br
    - @galleries_array = Gallery.all.map {|gallery| [gallery.name, gallery.id]}
    = f.select(:gallery_id, options_for_select(@galleries_array, image.gallery_id))

  .field
    = f.label :priority
    %br
    = f.text_field :priority

  .action
    = f.submit

.bottom_nav
  =link_to "Back", owner
