%h1= "Create New Image in #{gallery.name}"
= form_for image, :url => { :action => "create"}, :html => {:multipart => true} do |f|
  .error_messages
    - if image.errors.any?
      %h2 Form is invalid
      %ul
        -image.errors.full_messages.each do |message|
          %li= message
  = hidden_field_tag :gallery_id, value: gallery.id

  .field
    = f.label :title
    %br
    = f.text_field :title

  .field
    = f.label :category
    %br
    = f.text_field :category
  
  .field
    = f.label :medium
    %br
    = f.text_field :medium

  .field
    = f.label :dimensions
    %br
    = f.text_field :dimensions

  .field
    = f.file_field :picture
    
  .field
    = f.label :priority
    %br
    = f.text_field :priority

  .action
    =f.submit

.bottom_nav
  = link_to "Back", gallery
