!!!  html

%html

  %head
    
    %title Laura Bearl
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    #user_nav
      - if current_user
        = link_to "Sign Out", log_out_path
        |
        = link_to "Create Page", new_page_path

    #main
      = yield
      .clear

    .footer
      All images &copy;2016 Laura Bearl.
