!!!  html

%html

  %head
    
    %title Laura Bearl
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"

    #user_nav
      - if current_user
        = "Logged in as #{current_user.name}"
        = link_to "Log Out", log_out_path

    #main
      = yield
      .clear

    .footer
      = "All images &copy;2012 Laura Bearl. Web site build and maintained by Daniel Bearl using "
      = link_to "BuildyBuild", "https://github.com/mrmicahcooper/buildybuild"
      = " and &iexcl;Museo!"
